{% extends "base.html.twig" %}
{% block title %}Détail d'un étudiant{% endblock %}
{% block body %}
<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2 px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Détail d'un(e) étudiant(e)</h1>

		
		
			{% if (etudiants_liste is not empty) %}

				{% for i in etudiants_liste %}

					<h1>{{ i.getNom()}} {{i.getPrenom}}</h1>
				<ul>
                <li>{{i.getDateNaissance()}}</li>
                <li>{{i.getTelephone()}}</li>
                <li>{{i.getEmail()}}</li>
                <li>{{i.getCommentaires()}}</li>
                <li>{{i.getFkCursus()}}</li>		
				</ul>
				{% endfor %}
				
			{% else %}
				<p>Pas d'étudiants</p>

			{% endif %}

		<a href="{{ path('etudiant_create') }}"><button>Editer étudiant</button></a>

	</div>


{% endblock %}